body {
    font-family:'Montserrat';
    font-size: 2em;
    padding: 3em;
}

input {
    width:80%;
    font-size: 1.4em;

}
button {
    font-size:2em;
}
.msg {
    padding: 1em;
    margin:1em 0;
    background: color #777777;
    width: 30%;
    opacity:0;
    transition: opacity 200ms ease-out;
}
/* //1
body :not(p) {
    color:royalblue;
    border:5px solid red;
} */


/* //2
input:placeholder-shown {
    border:5px solid green;
} */
/* combining 1 and 2 */
input:not(:placeholder-shown) + .msg {
    opacity:1;

}